extends layout

block content
  .col-md-5.col-md-offset-1
    h1 Add a snippet
    form(role="form" method="post")
      div(class="form-group")
        label(for="title") Title:
        input(name="title" type="text" value="#{snippet.title}" class="form-control")
        div(class="form-group")
          label(for="bs") Code:
          textarea(name="bs" class="form-control" rows="10") #{snippet.bs}
      button(class="btn btn-info" type="submit") Save
  .col-md-5.preview
    h1 Preview
    label &nbsp;
    pre
      code.language-coffeescript
    p The preview is created with the bare option so imports will not be viewed before you save.
