extends layout

block content
    div(class="col-md-4 col-md-offset-4")
      h1 Add a snippet
      form(role="form" method="post")
        div(class="form-group")
          label(for="slug") Slug:
          input(name="slug" type="text" class="form-control")
          div(class="form-group")
            label(for="bs") Code:
            textarea(name="bs" class="form-control")
        button(class="btn btn-info" type="submit") Save
